<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#add_note_button").click(function() {
            tags = [];
            $(".tag_checkbox").each(function() {
                if ($(this).attr('checked')) {
                    tags.push($(this).attr('id'));
                }
            });
            $.post("/add_note_request/", {"text": $("#new_note_text").val(), "tags": tags}, function(data) {
                window.location = "/";
            });
        });
    });
</script>
